<template>
  <div>
    <section>
      <div class="d-flex justify-content-end p-3 top-buttons">
        <Transition>
          <button
            v-if="selected"
            class="btn btn-danger d-flex align-items-center me-2"
            @click="delInvoices()"
          >
            <fa
              :icon="['fas', 'fa-trash']"
              color="white"
            />
            Delete Selected
          </button>
        </Transition>
        <router-link
          to="/invoice/create"
          class="text-decoration-none"
        >
          <button class="btn btn-success d-flex align-items-center ">
            <fa
              :icon="['fas', 'fa-plus']"
              color="white"
            /> New Invoice
          </button>
        </router-link>
      </div>
      <ve-table
        :columns="columns"
        :table-data="table_invoices"
        :border-around="true"
        :fixed-header="true"
        row-key-field-name="id"
        :checkbox-option="checkboxOption"
      ></ve-table>
      <div class="table-pagination">
        <ve-pagination
          :total="invoices.length"
          :page-index="pageIndex"
          :page-size="pageSize"
          @on-page-number-change="pageNumberChange"
          @on-page-size-change="pageSizeChange"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Dashboard",
  data() {
    return {
      selected: false,
      selected_keys: null,
      checkboxOption: {
        // row select change event
        selectedRowChange: ({ row, isSelected, selectedRowKeys }) => {
          if (selectedRowKeys.length) {
            this.selected = true;
          } else {
            this.selected = false;
          }
          this.selected_keys = selectedRowKeys;
          console.log(row, isSelected, this.selected_keys);
        },
        // selected all change event
        selectedAllChange: ({ isSelected, selectedRowKeys }) => {
          if (selectedRowKeys.length) {
            this.selected = true;
          } else {
            this.selected = false;
          }
          this.selected_keys = selectedRowKeys;
          console.log(this.selected_keys);
          isSelected;
        },
      },
      columns: [
        {
          field: "",
          key: "g",
          title: "#",
          align: "center",
          renderBodyCell: ({ row, column, rowIndex }, h) => {
            row, column, h;
            return (
              <span class="text-bold" style="color:#1890ff;">
                {++rowIndex}
              </span>
            );
          },
        },
        {
          field: "",
          key: "a",
          type: "checkbox",
          title: "",
          width: 50,
          align: "center",
        },
        { field: "title", key: "b", title: "Invoice Name", align: "center" },
        { field: "from_name", key: "c", title: "From", align: "center" },
        { field: "to_name", key: "d", title: "To", align: "center" },
        {
          field: "invoice_date",
          key: "e",
          title: "Invoice Date",
          align: "center",
        },
        { field: "due_date", key: "f", title: "Due Date", align: "center" },
        {
          field: "",
          key: "i",
          title: "Action",
          width: "",
          center: "left",
          renderBodyCell: ({ row }) => {
            return (
              <span>
                <button
                  class="action-button btn btn-primary py-0"
                  on-click={() => this.$router.push(`/invoice/edit/${row.id}`)}
                >
                  <fa icon="fa-solid fa-pen" color="white" />
                </button>
                &nbsp;
                <button
                  class="action-button btn btn-danger py-0"
                  on-click={() => this.deleteInvoice(row.id)}
                >
                  <fa icon="fa-solid fa-trash" color="white" />
                </button>
              </span>
            );
          },
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      invoices: "stateInvoices",
      table_invoices: "tableInvoices",
      pageIndex: "getPageIndex",
      pageSize: "getPageSize",
    }),
  },
  methods: {
    ...mapActions([
      "getInvoices",
      "deleteInvoices",
      "deleteInvoice",
      "pageNumberChange",
      "pageSizeChange",
    ]),
    delInvoices() {
      this.deleteInvoices(this.selected_keys);
      this.selected_keys = null;
    },
  },
  created: function () {
    this.getInvoices();
  },
};
</script>

<style scoped>
.table-pagination {
  margin-top: 20px;
  text-align: right;
}

.top-buttons .fa-trash,
.top-buttons .fa-plus {
  width: 15px;
  margin-right: 10px;
}

.action-button .fa-pen,
.action-button .fa-trash {
  width: 10px;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>