<template>
  <div id="app">
    <NavBar />
    <div class="main container">
      <router-view />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from "@/components/NavBar.vue";
export default {
  components: {
    NavBar,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background: #efefef;
}
.main {
  padding-top: 2em;
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input.tax-percentage::-webkit-outer-spin-button,
input.tax-percentage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.tax-percentage {
  -moz-appearance: textfield;
}
</style>
