<template>
  <section>
    <h3 v-if="id">Edit Invoice</h3>
    <h3 v-else>New Invoice</h3>
    <div class="row">
      <div
        class="col-md-9 card px-4 py-5 mb-5"
        ref="pdf"
      >
        <form @submit.prevent="submit">

          <!-- From Section -->
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                name="from_company"
                v-model="form.from_company"
                class="form-control item-input"
                placeholder="Your Company"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.from_company ? false : true"
              />
              <input
                type="text"
                name="from_name"
                v-model="form.from_name"
                class="form-control item-input"
                placeholder="Your Name"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.from_name ? false : true"
              />
              <input
                type="text"
                name="from_address_line_1"
                v-model="form.from_address_line_1"
                class="form-control item-input"
                placeholder="Company's Address"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.from_address_line_1 ? false : true"
              />
              <input
                type="text"
                name="from_address_line_2"
                v-model="form.from_address_line_2"
                class="form-control item-input"
                placeholder="City, State Zip"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.from_address_line_2 ? false : true"
              />
              <v-select
                class="style-chooser item-input"
                label="nice_name"
                name="from_country_id"
                placeholder="Country"
                :options="countries"
                autocomplete="chrome-off"
                v-model="form.from_country_id"
                :reduce="country => country.id"
                :data-html2canvas-ignore="form.from_country_id ? false : true"
              ></v-select>
            </div>
            <!-- Big title on right side -->
            <div class="col-md-6">
              <input
                type="text"
                name="title"
                v-model="form.title"
                autocomplete="chrome-off"
                class="form-control item-input c-name"
                :data-html2canvas-ignore="form.title ? false : true"
              />
            </div>
          </div>

          <!-- To Section -->
          <div class="row mt-5 mb-5">
            <div class="col-md-6">
              <input
                type="text"
                name="to_company"
                v-model="form.to_company"
                class="form-control item-input"
                placeholder="Your Client's Company"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.to_company ? false : true"
              />
              <input
                type="text"
                name="to_name"
                v-model="form.to_name"
                class="form-control item-input"
                placeholder="Your Client's Name"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.to_name ? false : true"
              />
              <input
                type="text"
                name="to_address_line_1"
                v-model="form.to_address_line_1"
                class="form-control item-input"
                placeholder="Client's Address"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.to_address_line_1 ? false : true"
              />
              <input
                type="text"
                name="to_address_line_2"
                v-model="form.to_address_line_2"
                class="form-control item-input"
                placeholder="City, State Zip"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.to_address_line_2 ? false : true"
              />
              <v-select
                class="style-chooser item-input "
                label="nice_name"
                name="to_country_id"
                placeholder="Country"
                :options="countries"
                v-model="form.to_country_id"
                :reduce="country => country.id"
                autocomplete="chrome-off"
                :data-html2canvas-ignore="form.to_country_id ? false : true"
              ></v-select>
            </div>
            <div class="col-md-6">
              <table width="100%">
                <tbody>
                  <tr>
                    <td
                      width="30%"
                      class="fw-bold"
                    >Invoice Date</td>
                    <td>
                      <VueDatePicker
                        class="item-input"
                        v-model="form.invoice_date"
                        :data-html2canvas-ignore="form.invoice_date ? false : true"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td
                      width="30%"
                      class="fw-bold"
                    >Due Date</td>
                    <td>
                      <VueDatePicker
                        class="item-input"
                        v-model="form.due_date"
                        :data-html2canvas-ignore="form.due_date ? false : true"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Items section -->
          <div class="row mb-3">
            <div class="col-md-12">
              <table class="item-table">
                <thead>
                  <tr>
                    <th
                      width="48%"
                      scope="col"
                    >Item Description</th>
                    <th
                      width="17%"
                      scope="col"
                    >Qty</th>
                    <th
                      width="17%"
                      scope="col"
                    >Rate</th>
                    <th
                      width="18%"
                      scope="col"
                    >Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item in form.items"
                    :key="item.id"
                    :data-html2canvas-ignore="parseInt(item.amount) ? false : true"
                  >
                    <th scope="row">
                      <input
                        class="form-control item-input"
                        type="text"
                        v-model="item.lable"
                      >
                    </th>
                    <th scope="row">
                      <input
                        @keyup="CalculateTotal()"
                        class="form-control item-input"
                        type="number"
                        v-model="item.qty"
                      >
                    </th>
                    <th scope="row">
                      <input
                        @keyup="CalculateTotal()"
                        class="form-control item-input"
                        type="number"
                        v-model="item.rate"
                      >
                    </th>
                    <th scope="row">
                      <div class="d-flex">
                        <input
                          @keyup="CalculateTotal()"
                          class="form-control item-input"
                          type="number"
                          v-model="item.amount"
                        >
                        <fa
                          :icon="['fas', 'fa-trash']"
                          :size="'1x'"
                          @click="DeleteRow(item.id);CalculateTotal()"
                          color="red"
                        />
                      </div>
                    </th>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td id="add-new-item">
                      <div data-html2canvas-ignore="true">
                        <span
                          class="d-flex align-items-center"
                          @click="AddNewRow();CalculateTotal()"
                        >
                          <fa
                            class="mr-2"
                            :icon="['fas', 'fa-circle-plus']"
                            :size="'1x'"
                            color="green"
                          /> Add Line Item
                        </span>

                      </div>
                    </td>
                    <td
                      id="total-section"
                      colspan="3"
                    >
                      <table width="100%">
                        <tbody>
                          <tr>
                            <td width="66%">Sub Total</td>
                            <td class="form-control">{{ sub_total }}</td>
                          </tr>
                          <tr>
                            <td>Sales Tax (<input
                                style="width:10%"
                                @keyup="CalculateTotal()"
                                type="number"
                                class="tax-percentage item-input mb-0"
                                v-model="sales_tax_percentage"
                              >%)</td>
                            <td class="form-control">{{ sales_tax }}</td>
                          </tr>
                          <tr>
                            <td class="fw-bold">TOTAL</td>
                            <td class="form-control">{{ total }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="mb-3">
            <label
              for="notes"
              class="form-label form-control mb-0 fw-bold"
            >Notes:</label>
            <input
              type="text"
              name="notes"
              v-model="form.notes"
              :data-html2canvas-ignore="form.notes ? false : true"
              class="form-control item-input"
            />
          </div>
          <div class="mb-3">
            <label
              for="terms"
              class="form-label form-control mb-0 fw-bold"
            >Terms & Conditions:</label>
            <textarea
              name="terms"
              v-model="form.terms"
              class="form-control item-input"
              :data-html2canvas-ignore="form.terms ? false : true"
            ></textarea>
          </div>
          <!-- <button
            type="submit"
            class="btn btn-primary"
          >Submit</button> -->
        </form>
      </div>
      <div class="col-md-3">
        <div class="card py-5">
          <div class="d-flex align-items-center justify-content-evenly buttons-on-right ">
            <button
              v-if="id"
              class="btn btn-primary d-flex align-items-center px-1 py-1"
              @click="submit"
            >
              <fa
                :icon="['fas', 'fa-floppy-disk']"
                size="sm"
                color="white"
              />
              <span>Update</span>
            </button>
            <button
              v-else
              class="btn btn-primary d-flex align-items-center px-1 py-1"
              @click="submit"
            >
              <fa
                :icon="['fas', 'fa-floppy-disk']"
                size="sm"
                color="white"
              />
              <span>Save</span>
            </button>
            <button
              class="btn btn-primary d-flex align-items-center px-1 py-1"
              @click="download"
            >
              <fa
                :icon="['fas', 'fa-download']"
                size="sm"
                color="white"
              />
              <span>Download</span>
            </button>
            <button class="btn btn-primary d-flex align-items-center px-1 py-1">
              <fa
                :icon="['fas', 'fa-paper-plane']"
                size="sm"
                color="white"
              /> <span>Send</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { jsPDF } from "jspdf";
import * as html2canvas from "html2canvas";

import { mapGetters, mapActions } from "vuex";
export default {
  name: "CreateInvoice",
  props: ["id"],
  data() {
    return {
      sub_total: 200.0,
      sales_tax: 140.0,
      sales_tax_percentage: 10,
      total: 340,
    };
  },
  computed: {
    ...mapGetters({ countries: "stateCountries", form: "stateForm" }),
  },
  methods: {
    ...mapActions([
      "pullCountries",
      "createInvoice",
      "getInvoice",
      "updateInvoice",
    ]),
    async submit() {
      try {
        let invoice = {
          form: this.form,
        };
        if (this.id) {
          await this.updateInvoice(invoice);
        } else {
          await this.createInvoice(invoice);
        }
        this.$router.push({ name: "Dashboard" });
      } catch (error) {
        console.log(error);
      }
    },
    AddNewRow() {
      const new_item = {
        id: this.form.items.length + 1,
        lable: "",
        qty: 1,
        rate: 0.0,
        amount: 0.0,
      };
      this.form.items.push(new_item);
    },
    DeleteRow(id) {
      if (id != 1) {
        this.form.items = this.form.items.filter((item) => item.id != id);
      }
    },
    CalculateTotal() {
      this.sub_total = 0.0;
      this.form.items.forEach((item) => {
        item.amount = (item.qty * item.rate).toFixed(2);
        this.sub_total = (
          parseFloat(this.sub_total) + parseFloat(item.amount)
        ).toFixed(2);
      });
      this.sales_tax = (
        this.sub_total *
        (this.sales_tax_percentage / 100)
      ).toFixed(2);
      this.total = (
        parseFloat(this.sales_tax) + parseFloat(this.sub_total)
      ).toFixed(2);
      console.log(this.total);
    },
    download() {
      const doc = new jsPDF({
        orientation: "p",
        unit: "px",
        format: "a4",
        hotfixes: ["px_scaling"],
        compressPdf: true,
      });

      html2canvas(this.$refs.pdf, {
        width: doc.internal.pageSize.getWidth() + 210,
        height: doc.internal.pageSize.getHeight() - 100,
      }).then((canvas) => {
        const img = canvas.toDataURL("image/png");
        doc.addImage(
          img,
          "PNG",
          1,
          1,
          doc.internal.pageSize.getWidth(),
          doc.internal.pageSize.getHeight() - 210
        );
        let name = this.form.title ? this.form.title : "billie_invoice";
        doc.save(name + ".pdf");
      });
    },
  },
  created: function () {
    this.pullCountries();
    this.getInvoice(this.id);
    this.CalculateTotal();
  },
};
</script>

<style scoped>
form {
  font-family: Consolas, Helvetica, Arial, sans-serif;
}

.date-style {
  display: flex;
  align-items: center;
}
.date-style label {
  margin-bottom: 0;
  margin-right: 10px;
}

.fa-trash,
.fa-circle-plus {
  width: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

input,
select {
  border: 0;
  margin-bottom: 5px;
}
.form-control {
  border: 0;
}

.form-control:focus {
  box-shadow: unset;
}

.item-table thead tr {
  background: #525252;
  color: white;
}

.item-table thead tr th {
  padding: 10px;
}

.v-select {
  padding-left: 10px;
}

.item-input {
  border-bottom: 1px dotted greenyellow !important;
}
.c-name {
  font-size: 30px;
  text-align: right;
  color: #38342c;
}

.buttons-on-right .svg-inline--fa {
  width: 15px;
  margin-right: 5px;
}
</style>

<style>
.style-chooser .vs__dropdown-toggle {
  border: none;
}

.style-chooser .vs__selected-options input {
  padding: 0 !important;
}
</style>